body.home {
	& section:not(:first-child) {
		@apply bg-zinc-100;
	}

	#home-slider {
		@apply h-screen bg-transparent;

		.swiper:not(.swiper-initialized) {
			.swiper-slide:first-child {
				@apply relative z-10;
			}
		}

		.swiper {
			@apply fixed bg-zinc-900 top-0 right-0 bottom-0 left-0 -z-20;

			.swiper-slide img {
				@apply brightness-50 blur-sm h-screen w-screen object-cover;
			}

			.swiper-pagination-progressbar.swiper-pagination-horizontal {
				bottom: 0;
				top: unset;
			}
		}

		.slider-content {
			@apply
			container h-screen z-30
			flex flex-col justify-center
			text-zinc-100 text-center;

			@media screen(md) {
				@apply h-4/5 justify-end text-left px-8;
			}

			& .title {
				@apply text-6xl font-cb-heading;

				@media screen(md) {
					@apply text-7xl;
				}
			}

			& .subtitle {
				@apply text-3xl font-cb-heading;

				@media screen(md) {
					@apply text-4xl;
				}
			}

			& a[type="button"] {
				@apply
				block w-fit
				px-8 py-4 mx-auto mt-12
				border-white border-2 backdrop-blur-xl rounded-lg
				text-lg font-cb-bold uppercase;
				transition: all 250ms ease-in-out;

				&:hover {
					@apply bg-zinc-100 text-zinc-900;
				}

				@media screen(md) {
					@apply mx-0;
				}
			}
		}

		.scroll-arrow {
			@apply absolute bottom-12 left-1/2 -translate-x-1/2;
			animation: infinite rebound 3s ease-in-out;

			@keyframes rebound {
				0% {
					opacity: 0.5;
					bottom: 3rem;
				}
				50% {
					opacity: 1;
					bottom: 2rem;
				}
				100% {
					opacity: 0.5;
					bottom: 3rem;
				}

			}
		}
	}

	#home-reassurances {
		@apply
		py-16 px-8
		bg-zinc-900
		text-zinc-100 text-xl font-cb-bold uppercase;

		.swiper {
			@media screen(md) {
				@apply w-3/4;
			}
		}

		&.swiper:not(.swiper-initialized) {
			.swiper-slide {
				@media screen(sm) {
					@apply w-1/3;
				}
			}
		}

		.swiper-wrapper {
			@apply items-end;
		}

		& p {
			@apply text-center;
		}

		& img {
			@apply mx-auto mb-4;
		}
	}

	#home-presentation {
		@apply py-24 px-8;

		.presentation-block {
			@apply flex flex-col gap-8 justify-center items-center;

			&:not(:last-child) {
				@apply mb-12;
			}

			@media screen(md) {
				@apply flex-row gap-12;

				&:nth-child(even) {
					@apply flex-row-reverse;
				}

				.text {
					@apply w-2/4 text-lg;
				}

				.image {
					@apply w-1/4;
				}
			}
		}
	}

	#home-testimonials {
		@apply bg-zinc-900
		text-zinc-100
		py-16;

		.swiper:not(.swiper-initialized) .swiper-wrapper {
			.swiper-slide {
				@apply mr-8;
			}
		}


		.quote {
			@apply relative w-5/6 mx-auto my-8 mb-2 text-2xl font-bold z-10;

			&::before,
			&::after {
				content: "";
				display: block;
				width: 5rem;
				height: 5rem;
				background: url(../src/img/quote-white.svg) no-repeat center;
				background-size: contain;
				position: absolute;
				z-index: -10;
				opacity: 0.2;
			}

			&::before {
				top: -2.5rem;
				left: 0;
			}

			&::after {
				bottom: -2.5rem;
				right: 0;
				transform: rotate(180deg);
			}
		}

		.author {
			@apply w-5/6 mx-auto text-xl italic;
		}

		@media screen(md) {
			.quote, .author {
				@apply w-4/5;
			}
		}
	}

	#home-latest-news {
		@apply relative overflow-hidden;
		background-color: unset;

		&::after {
			content: "";
			background: var(--bg-image) no-repeat center;
			background-size: cover;
			filter: blur(5px) brightness(40%);
			@apply absolute top-0 left-0 right-0 bottom-0 w-screen -z-10;
		}

		.section-wrapper {
			@apply py-16 px-4;

			@media screen(sm) {
				@apply py-20 px-8;
			}
		}

		.section-header {
			@apply text-zinc-200 text-center mb-8;

			.subtitle {
				@apply text-xl;
			}
		}

		.section-body {
			@apply flex flex-col gap-8;

		&.swiper:not(.swiper-initialized) {
			.swiper-slide {
				&:not(:last-child) {
					@apply mr-8;
				}
				@media screen(sm) {
					@apply w-1/2;
				}
				@media screen(lg) {
					@apply w-1/3;
				}
			}
		}
		}

		.post-miniature {
			@apply bg-zinc-100 px-4 py-12 rounded-sm;
			min-height: 620px;

			@media screen(sm) {
				@apply px-8;
			}
		}

		.post-title {
			min-height: 48px;
			@apply mb-2
		}

		.post-thumbnail {
			@apply mb-4;
			& img {
				max-height: 220px;
				aspect-ratio: 2/3;
				object-fit: cover;
				object-position: center;
			}
		}

		.post-excerpt {
			& a {
				@apply font-bold;

				&::before {
					content: "… ";
					@apply font-normal;
				}

				&::after {
					content: "»";
					@apply text-xl;
					display: inline-block;
					transition: transform 250ms ease-in-out;
				}

				&:hover {
					&::after {
						transform: translateX(5px);
					}
				}
			}
		}

	}
}
