/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

@import 'swiper/swiper-bundle.min.css';

:root {
	--cb-body: 'Glacial Indifference';
	--cb-bold: 'Glacial Bold';
	--cb-italic: 'Glacial Italic';
	--cb-heading: 'Norwester';
	--swiper-theme-color: white;
	--swiper-pagination-bullet-inactive-color: white;
	--swiper-pagination-color: rgba(255, 255, 255, 0.5);
	--swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.5);
	--swiper-pagination-progressbar-size: 10px;
}

html {
	scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	@apply font-cb-bold uppercase;
}

h2,.h2 {
	@apply text-4xl mb-2;
}

body {
	@apply bg-background text-foreground font-sans;
}

body:not(.home) header + * {
	@media screen(md) {
		@apply mt-32;
	}
}

