#wpadminbar {
	display: none;
}

#site-navigation {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	backdrop-filter: blur(2px);

	a {
		text-decoration: none;
	}

	.custom-logo-link {

		img {
			width: 90px;
		}
	}

	#primary-menu,
	#secondary-menu {
		display: flex;
	}

	#primary-menu {
		gap: 3em;

		a {
			text-transform: uppercase;
		}
	}
}