#wpadminbar {
	display: none;
}

$menu-toggle-transition: all ease-in-out 300ms;
$menu-toggle-transition-delay: 250ms;

#masthead.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
	z-index: 20;
	transition: $menu-toggle-transition;
	transition-delay: 100ms;

	@include breakpoint-up(md) {
		padding: 1em 0;
	}

	@include breakpoint-down(md) {
		height: 100vh;
		overflow: hidden;
		left: 100vw;
		right: unset;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
	}

	.custom-logo-link {
		img {
			width: 90px;
			transition: $menu-toggle-transition;
			transition-delay: 50ms;
		}
	}
}

#site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint-down(md) {
		height: 100vh;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		gap: 3em;
	}
}

$filter-drop-shadow: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));

#primary-menu {
	display: flex;
	gap: 2em;

	a {
		display: block;
		color: $white;
		font-family: $font-bold;
		transition: all ease-in-out 200ms;
		filter: $filter-drop-shadow;

		@include breakpoint-up(md) {
			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 2px;
				background: $white;
				transform: scale(0);
				transition: transform ease-in-out 250ms;
				filter: $filter-drop-shadow;
			}
		}

		&:hover {
			&::after {
				transform: scale(1);
			}
		}

	}

	@include breakpoint-down(md) {
		flex-flow: column;
		gap: unset;
		text-align: center;
		opacity: 0;
		transition: $menu-toggle-transition;
		transition-delay: $menu-toggle-transition-delay;

		a {
			width: 100vw;
			font-size: $font-size-largest;

			&:hover {
				background-color: rgba(0, 0, 0, 0.8);
				filter: unset;
				box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
			}

		}
	}
}

#secondary-menu,
#menu-reseaux-sociaux-header {
	display: flex;
	gap: 1em;

	@include breakpoint-down(md) {
		opacity: 0;
		transition: $menu-toggle-transition;
		transition-delay: $menu-toggle-transition-delay;
	}

	$social-networks: facebook,
		instagram,
		youtube,
		linkedin;

	--icon-size: 40px;

	@include breakpoint-up(md) {
		gap: 1em;
		--icon-size: 20px;
	}

	@each $network in $social-networks {
		.menu-item.#{$network} a {
			display: block;
			position: relative;
			visibility: hidden;
			margin: 0;
			padding: 0;
			width: var(--icon-size);
			height: var(--icon-size);

			&::after {
				cursor: pointer;
				position: absolute;
				top: 0;
				visibility: visible;
				content: "";
				display: block;
				width: var(--icon-size);
				height: var(--icon-size);
				background: url('./img/svg/#{$network}-white.svg') no-repeat center center;
				background-size: contain;
				filter: $filter-drop-shadow;
				transform: scale(1);
				transition: transform ease-in-out 250ms;
			}

			&:hover {
				&::after {
					transform: scale(0.9);
				}
			}
		}
	}
}

#responsive-menu-icon {
	cursor: pointer;
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 20;
	mix-blend-mode: exclusion;

	span {
		width: 3em;
		height: 0.45em;
		background-color: $white;
		display: block;
		border-radius: 2px;
		margin-bottom: 0.5em;
		transition: $menu-toggle-transition;
		transition-delay: $menu-toggle-transition-delay;

		&:nth-child(2) {
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 100%;
				height: 0.45em;
				background: $white;
				border-radius: 2px;
				position: absolute;
				transition: $menu-toggle-transition;
				transition-delay: $menu-toggle-transition-delay;
			}
		}
	}

	@include breakpoint-up(md) {
		display: none;
	}
}

body.is-menu-mobile-visible {
	#masthead.site-header {
		left: 0;
		opacity: 1;
	}

	#responsive-menu-icon span {
		&:first-child {
			transform: translateY(1em);
			opacity: 0;
		}

		&:last-child {
			transform: translateY(-1em);
			opacity: 0;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
			isolation: isolate;

			&::after {
				transform: rotate(-90deg);
			}
		}
	}

	#primary-menu,
	#secondary-menu {
		opacity: 1;
	}
}
